@import "styles/helpers/parameters";

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1.563rem 8.75rem;

  .logo {

  }

  .menu {

    list-style: none;
    display: flex;
    gap: 3.75rem;

    .link {
      font-family: Inter, serif;
      font-size: 16px;
      text-decoration: none;
      color: $color-main-2;
    }
  }

  .local {

  }
}