// Colors
$color-main: #706FE5;
$color-main-2: #1E1F4B;
$color-second: #2E3E5C;

// Fonts
$font-main: 'Inter', sans-serif;
$font-second: 'Poppins', sans-serif;

// Breakpoints
$breakpoints: (
  xxl: 1440px,
  xl: 1199px,
  lg: 959px,
  md: 768px,
  sm: 500px
);