@import "../../helpers/parameters";
@import "../../helpers/mixins";

.footer {
  display: flex;
  flex-direction: column;
  background-color: #2E3E5C;
  padding: 3.438rem 8.75rem;

  @include mobile-only(lg) {
    padding: 3.438rem 1rem;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3.125rem;
    border-bottom: 1px solid rgb(#EAEEF3, 0.15);

    @include mobile-only(md) {
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
    }

    .logo {

    }

    .socials {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      list-style-type: none;

      .social {

        .icon {

        }
      }
    }
  }

  .middle {
    padding-block: 3.125rem 4.688rem;

    .title {
      font-family: $font-second;
      font-size: 1.125rem;
      font-weight: 700;
      line-height: 1.688rem;
      color: #fff;

      @include mobile-only(md) {
        text-align: center;
      }
    }

    .group {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile-only(md) {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
      }

      .links {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include mobile-only(md) {
          justify-content: center;
          gap: 1rem;
        }


        .link {
          margin-right: auto;

          @include mobile-only(md) {
            margin: 0;
          }

          a {
            font-size: 0.875rem;
          }
        }
      }

      .button {

      }
    }
  }
  .bottom {
    text-align: center;
    font-family: $font-second;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #fff;
  }
}