@import "../../helpers/parameters";

.link {
  background-color: $color-main;
  display: block;
  border: 4px solid $color-main;
  border-radius: 2000px;
  padding: calc(0.938rem - 4px) calc(1.094rem - 4px);
  transition: 0.5s;

  svg path {
    transition: 0.5s;
  }

  &:hover {
    background-color: transparent;

    svg path {
      fill: $color-main;
    }
  }
}